<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <title>Comentarios de canción - Administrador</title>

    <script src="https://code.jquery.com/jquery-3.1.1.min.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>

    <!-- Icono -->
    <link rel="icon" type="image/x-icon" href="https://3.bp.blogspot.com/-2kXGuGA1ON0/Wv3plRrEPjI/AAAAAAAAAOE/5dJCBrXXLR01bFtoTyBZ1btCcMLBX33rQCLcBGAs/s320/Logo%2BWOS%2Bcol%2B%25281%2529.png">

    <link rel="stylesheet" href="../../css/style.css">
    <link rel="stylesheet" href="../../css/home.css">

    <script type="text/javascript" src="../../scripts/script.js"></script>
    <!-- Alertas -->
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <!-- Controlador -->
    <!-- <script type="text/javascript" src="../../scripts/administration/songsController.js"></script> -->

</head>

<body>

    <!-- Following Menu -->
    <div class="ui large top fixed hidden menu">
        <div class="ui container">
            <a class="active item">Home</a>
            <a class="item">Work</a>
            <a class="item">Company</a>
            <a class="item">Careers</a>
            <div class="right menu">
                <div class="item">
                    <a class="ui button">Log in</a>
                </div>
                <div class="item">
                    <a class="ui primary button">Sign Up</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Sidebar Menu -->
    <div class="ui vertical inverted sidebar menu">
        <a class="active item">Home</a>
        <a class="item">Work</a>
        <a class="item">Company</a>
        <a class="item">Careers</a>
        <a class="item">Login</a>
        <a class="item">Signup</a>
    </div>


    <!-- Page Contents -->
    <div class="pusher">
        <!-- <div class="ui inverted vertical masthead center aligned segment"> -->
        <div class="ui inverted vertical center aligned segment">

            <div class="ui container">
                <div class="ui large secondary inverted pointing menu">
                    <a class="toc item">
                        <i class="sidebar icon"></i>
                    </a>
                    <a class="active item" onclick="goPrincipalView()">Principal</a>
                    <a class="item" onclick="goRequestsView()">Solicitudes</a>
                    <a class="item" onclick="goUsersView()">Usuarios</a>
                    <label class="right item"></label>
                    <label class="right item"></label>
                    <label class="right item"></label>
                    <label class="right item"></label>
                    <div id="username_label">
                        <!-- <label class="right item">Nombre del usuario</label> -->
                    </div>
                    <div class="right item">
                        <!-- <a class="ui inverted button">Log in</a> -->
                        <a class="ui inverted button" onclick="logout()">Cerrar sesión</a>
                    </div>
                </div>
            </div>

            <div class="ui text container">
                <h1 class="ui inverted header">
                    Comentarios de canción
                </h1>
                <!-- <h2>Do whatever you want when you want to.</h2> -->
            </div>

        </div>

        <div class="ui vertical stripe">
            <div class="ui middle aligned stackable grid container">
                <div class="row">
                    <div class="one wide column"></div>
                    <div class="fourteen wide column">
                        <h3>Canción</h3>
                        <div class="ui grid" id="DatosCancion">
                        </div>

                        <h3>Comentarios</h3>
                        <table class="ui fixed black celled table">
                            <!-- <table class="ui teal table"> -->
                            <thead>
                                <tr>
                                    <th class="centered">Fecha</th>
                                    <th class="centered">Nombre de usuario</th>
                                    <th class="centered">Descripción</th>
                                </tr>
                            </thead>
                            <tbody id="CuerpoTabla">
                            </tbody>
                        </table>
                    </div>
                    <div class="one wide column"></div>
                </div>

            </div>
        </div>

        <div class="ui inverted vertical footer segment">
            <div class="ui container">
                <div class="ui stackable inverted divided equal height stackable grid">
                    <div class="three wide column">
                        <h4 class="ui inverted header">About</h4>
                        <div class="ui inverted link list">
                            <a href="#" class="item">Sitemap</a>
                            <a href="#" class="item">Contact Us</a>
                            <a href="#" class="item">Religious Ceremonies</a>
                            <a href="#" class="item">Gazebo Plans</a>
                        </div>
                    </div>
                    <div class="three wide column">
                        <h4 class="ui inverted header">Services</h4>
                        <div class="ui inverted link list">
                            <a href="#" class="item">Banana Pre-Order</a>
                            <a href="#" class="item">DNA FAQ</a>
                            <a href="#" class="item">How To Access</a>
                            <a href="#" class="item">Favorite X-Men</a>
                        </div>
                    </div>
                    <div class="seven wide column">
                        <h4 class="ui inverted header">Footer Header</h4>
                        <p>Extra space for a call to action inside the footer that could help re-engage users.</p>
                    </div>
                </div>
            </div>
        </div>

    </div>

</body>

<script>
    function init() {

        var id_song = sessionStorage.id_song_comments
        console.log(id_song)

        var datosCancion = document.querySelector('#DatosCancion')
        datosCancion.innerHTML = ""
        fetch(`http://localhost:3000/songs/${id_song}`, {
                headers: {
                    'Content-Type': 'application/json'
                }
            })
            .then(response => response.json())
            .catch(error => {
                console.log(error)
            })
            .then(res => {
                console.log(res)
                for (var i in res) {
                    datosCancion.innerHTML =
                        `<div class="row">
                            <div class="four wide column">
                                <img class="img_comments" src="${res[i].image}">
                            </div>
                            <div class="four wide column">
                                <div class="ui large list">
                                    <div class="item">
                                        <div class="header">Nombre</div>
                                        ${res[i].name}
                                    </div>
                                    <div class="item">
                                        <div class="header">Artista</div>
                                        ${res[i].artist}
                                    </div>
                                    <div class="item">
                                        <div class="header">Álbum</div>
                                        ${res[i].album}
                                    </div>
                                    <div class="item">
                                        <div class="header">Fecha</div>
                                        ${res[i].date}
                                    </div>
                                </div>
                            </div>
                        </div>`
                }
            })

        var contenido = document.querySelector('#CuerpoTabla')
        contenido.innerHTML = ""
        fetch(`http://localhost:3000/comments_song/${id_song}`, {
                headers: {
                    'Content-Type': 'application/json'
                }
            })
            .then(response => response.json())
            .catch(error => {
                console.log(error)
            })
            .then(res => {
                //Recorriendo nuestro res e incrementando el innerHTML de nuestro elemento
                //Identificado como contenido
                console.log(res)
                for (var i in res) {
                    for (var j in res[i]) {
                        contenido.innerHTML +=
                            `<tr>
                        <th class="centered">${res[i][j].date}</th>
                        <th class="centered">${res[i][j].username_user}</th>
                        <th class="centered">${res[i][j].description}</th>
                        </tr>`
                    }
                }
            })

        // Para el nombre de usuario
        var session_username = sessionStorage.session_username
            //console.log(session_username)
        var contenidoUsername = document.querySelector('#username_label')
        contenidoUsername.innerHTML = ""

        contenidoUsername.innerHTML =
            `
                <a class="right item" onclick="profile()">${session_username}</a>
            `
    }

    function profile() {
        location.href = "./profileAdminView.html"
    }

    function goPrincipalView() {
        location.href = "./songsView.html"
    }

    function goRequestsView() {
        location.href = "./request_songsView.html"
    }

    function goUsersView() {
        location.href = "./usersView.html"
    }

    function logout() {
        var session_id = ""
        var session_username = ""

        sessionStorage.setItem("session_id", session_id)
        sessionStorage.setItem("session_username", session_username)

        swal("¡Sección cerrada!", "Gracias por utilizar Midnight", "success")
            .then((value) => {
                location.href = "../homeView.html"
            });

    }

    init();
</script>

</html>