<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <title>Principal - Administrador</title>

    <script src="https://code.jquery.com/jquery-3.1.1.min.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>

    <link rel="stylesheet" href="../../css/style.css">
    <link rel="stylesheet" href="../../css/home.css">

    <script type="text/javascript" src="../../scripts/script.js"></script>
    <!-- Alertas -->
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <!-- Reportes -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.4/jspdf.min.js"></script>
    <script src="https://unpkg.com/jspdf-autotable@3.5.13/dist/jspdf.plugin.autotable.js"></script>
    <!-- Controlador -->
    <!-- <script type="text/javascript" src="../../scripts/administration/songsController.js"></script> -->

</head>

<body>

    <!-- Following Menu -->
    <div class="ui large top fixed hidden menu">
        <div class="ui container">
            <a class="active item">Home</a>
            <a class="item">Work</a>
            <a class="item">Company</a>
            <a class="item">Careers</a>
            <div class="right menu">
                <div class="item">
                    <a class="ui button">Log in</a>
                </div>
                <div class="item">
                    <a class="ui primary button">Sign Up</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Sidebar Menu -->
    <div class="ui vertical inverted sidebar menu">
        <a class="active item">Home</a>
        <a class="item">Work</a>
        <a class="item">Company</a>
        <a class="item">Careers</a>
        <a class="item">Login</a>
        <a class="item">Signup</a>
    </div>


    <!-- Page Contents -->
    <div class="pusher">
        <!-- <div class="ui inverted vertical masthead center aligned segment"> -->
        <div class="ui inverted vertical center aligned segment">

            <div class="ui container">
                <div class="ui large secondary inverted pointing menu">
                    <a class="toc item">
                        <i class="sidebar icon"></i>
                    </a>
                    <a class="active item" onclick="goPrincipalView()">Principal</a>
                    <a class="item" onclick="goRequestsView()">Solicitudes</a>
                    <a class="item" onclick="goUsersView()">Usuarios</a>
                    <label class="right item"></label>
                    <label class="right item"></label>
                    <label class="right item"></label>
                    <label class="right item"></label>
                    <div id="username_label">
                        <!-- <label class="right item">Nombre del usuario</label> -->
                    </div>
                    <div class="right item">
                        <!-- <a class="ui inverted button">Log in</a> -->
                        <a class="ui inverted button">Cerrar sesión</a>
                    </div>
                </div>
            </div>

            <div class="ui text container">
                <h1 class="ui inverted header">
                    Estatus de canciones
                </h1>
                <!-- <h2>Do whatever you want when you want to.</h2> -->
            </div>

        </div>

        <div class="ui vertical stripe">
            <div class="ui middle aligned stackable grid container">
                <div class="row">
                    <div class="one wide column"></div>
                    <div class="fourteen wide column">
                        <div class="ui grid">
                            <div class="row">
                                <div class="five wide column">
                                    <h3>Canciones</h3>
                                </div>
                            </div>
                            <div class="row">
                                <div class="five wide column">
                                    <button class="ui brown button" onclick="report()">
                                        <i class="file alternate icon"></i>
                                        Reporte PDF
                                    </button>
                                </div>
                                <div class="eleven wide column">
                                    <div class="position_right">
                                        <!-- <div class="ui labeled button" tabindex="0">
                                            <div class="ui teal button">
                                                <i class="upload icon"></i> Seleccione un archivo
                                            </div>
                                            <div class="ui basic teal left pointing label">
                                                <a class="ui basic teal">
                                                    asdfsadfasdfsafsdf.csv
                                                </a>
                                            </div>
                                        </div> -->
                                        <input type="file" id="file" />
                                        <button class="ui green button" onclick="fileUpload()">
                                            <i class="cloud upload icon"></i>
                                            Cargar archivo al sistema
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <table class="ui fixed black celled table">
                            <!-- <table class="ui teal table"> -->
                            <thead>
                                <tr>
                                    <th class="centered">Imagen</th>
                                    <th class="centered">Nombre</th>
                                    <th class="centered">Artista</th>
                                    <th class="centered">Álbum</th>
                                    <th class="centered">Fecha</th>
                                    <!-- <th class="centered">Spotify</th>
                                    <th class="centered">Youtube</th> -->
                                    <th class="centered">Opciones</th>
                                </tr>
                            </thead>
                            <tbody id="CuerpoTabla">
                                <!-- <tr>
                                    <td>Apples</td>
                                    <td>200</td>
                                    <td>0g</td>
                                </tr>
                                <tr>
                                    <td>Orange</td>
                                    <td>310</td>
                                    <td>0g</td>
                                </tr> -->
                            </tbody>
                        </table>
                    </div>
                    <div class="one wide column"></div>
                </div>

            </div>
        </div>

        <div class="ui inverted vertical footer segment">
            <div class="ui container">
                <div class="ui stackable inverted divided equal height stackable grid">
                    <div class="three wide column">
                        <h4 class="ui inverted header">About</h4>
                        <div class="ui inverted link list">
                            <a href="#" class="item">Sitemap</a>
                            <a href="#" class="item">Contact Us</a>
                            <a href="#" class="item">Religious Ceremonies</a>
                            <a href="#" class="item">Gazebo Plans</a>
                        </div>
                    </div>
                    <div class="three wide column">
                        <h4 class="ui inverted header">Services</h4>
                        <div class="ui inverted link list">
                            <a href="#" class="item">Banana Pre-Order</a>
                            <a href="#" class="item">DNA FAQ</a>
                            <a href="#" class="item">How To Access</a>
                            <a href="#" class="item">Favorite X-Men</a>
                        </div>
                    </div>
                    <div class="seven wide column">
                        <h4 class="ui inverted header">Footer Header</h4>
                        <p>Extra space for a call to action inside the footer that could help re-engage users.</p>
                    </div>
                </div>
            </div>
        </div>

    </div>

</body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/PapaParse/5.3.0/papaparse.min.js"></script>
<script>
    function init() {
        var contenido = document.querySelector('#CuerpoTabla')
        contenido.innerHTML = ""
        fetch('http://localhost:3000/songs')
            .then(response => response.json())
            .catch(error => {
                console.log(error)
            })
            .then(res => {
                //Recorriendo nuestro res e incrementando el innerHTML de nuestro elemento
                //Identificado como contenido
                console.log(res)
                for (var i in res) {
                    for (var j in res[i]) {
                        if (res[i][j].state == 1) {
                            // console.log(res[i][j])
                            // console.log(res[i])
                            contenido.innerHTML +=
                                `<tr>
                        <th>
                            <img class="img_table" src="${res[i][j].image}">
                        </th>
                        <th class="centered">${res[i][j].name}</th>
                        <th class="centered">${res[i][j].artist}</th>
                        <th class="centered">${res[i][j].album}</th>
                        <th class="centered">${res[i][j].date}</th>
                        <!-- <th class="centered">${res[i][j].link_spotify}</th>
                        <th class="centered">${res[i][j].link_youtube}</th> -->
                        <th class="centered">
                            <div class="ui small icon buttons">
                                <button class="ui blue button" data-inverted="" data-tooltip="Ver comentarios" data-position="top left" onclick="comments_song(${res[i][j].id})"><i class="eye icon"></i></button>
                                <button class="ui teal button" data-inverted="" data-tooltip="Editar" data-position="top center" onclick="edit_song(${res[i][j].id})"><i class="edit icon"></i></button>
                                <button class="ui red button" data-inverted="" data-tooltip="Eliminar" data-position="top right" onclick="delet_song(${res[i][j].id})"><i class="trash alternate icon"></i></button>
                            </div>
                        </th>
                        </tr>`
                        }
                    }
                }
            })

        // Para el nombre de usuario
        var session_username = sessionStorage.session_username
            //console.log(session_username)
        var contenidoUsername = document.querySelector('#username_label')
        contenidoUsername.innerHTML = ""

        contenidoUsername.innerHTML =
            `
                <a class="right item" onclick="profile()">${session_username}</a>
            `
    }

    async function fileUpload() {
        //Usamos $(nombre del input donde esta el archivo).parse
        $('#file').parse({
            config: {
                //Agregamos las configuraciones y le decimos
                //Quien es el delimitador y que hara luego de leer el archivo
                //En este caso usamos delimitador "," y que haga el metodo GuardarCanciones
                delimiter: ",",
                complete: await saveSongs,
            },
            //Esto es lo que hara antes de leer el archivo
            before: function(file, inputElem) {
                console.log("Parsing file...", file);
            },
            //Esto es lo que hara si encuentra un error
            error: function(err, file) {
                console.log("ERROR:", err, file);
            },
            //Esto es lo que hara cuando termina de parsear el archivo
            complete: function() {
                console.log("Done with all files");
            }
        });
    }

    async function saveSongs(results) {
        //En este caso results es un objeto con nuestros datos parseados
        //Y el atributo .data es el que tiene lo que necesitamos
        console.log(results.data)
        var data = results.data;
        var val = true
            //Data al final termina siendo un arreglo de arreglos
            //data[i] = La fila del archivo csv
            //data[i][n] = Donde n representa la columan en cuestion
            //Leemos las filas de data
        for (i = 0; i < data.length; i++) {
            //Hacemos el proceso necesarioa para guardar un dato en la API
            var nombre = data[i][0]
            var artista = data[i][1]
            var album = data[i][2]
            var fecha = data[i][3]
            var imagen = data[i][4]
            var spotify = data[i][5]
            var youtube = data[i][6]
                // State (estado) es 1 para que este activo
            var state = 1;

            var objeto = {
                'name': nombre,
                'artist': artista,
                'album': album,
                'date': fecha,
                'image': imagen,
                'link_spotify': spotify,
                'link_youtube': youtube,
                'state': state
            }
            console.log(objeto)
                //Aplicamos nuestro metodo magico con sus 3 metodos, then, catch, then
            fetch('http://localhost:3000/songs', {
                    method: 'POST',
                    body: JSON.stringify(objeto),
                    headers: {
                        'Content-Type': 'application/json'
                    }
                }).then(res => res.json())
                .catch(error => {
                    console.error('Error:', error)
                        //alert("Ocurrio un error al consumir la API, revise la consola")
                    swal("¡Ocurrio un error!", "¡No se pudo subir el archivo!", "error");
                    val = false
                })
                .then(response => {
                    console.log('Success:', response);
                })
        }
        //En mi caso, como yo lo programe, es que si hay un error a la hora de guardar las canciones
        //No me muestre nada, pero si las guarda, esto es meramente visual
        if (val == true) {
            //Usamos el alert para mandar respuestas del navegador hacia el usuario
            //Unicamente tenemos que mandar el texto
            //alert("Se agregaron las canciones exitosamente")
            swal("¡Archivo subido con éxito!", "Canciones agregadas", "success")
                .then((value) => {
                    init();
                });
        }
    }

    function comments_song(id) {
        console.log("comentarios: " + id);

        var id_song = id
        sessionStorage.setItem("id_song_comments", id_song)
        location.href = "./songCommentsView.html"
    }

    function edit_song(id) {
        console.log("edita: " + id);

        var id_song = id
        sessionStorage.setItem("id_song_edit", id_song)
        location.href = "./songEditView.html"
    }

    function delet_song(id) {
        console.log("eliminar: " + id);
        swal({
                title: "¿Estás seguro?",
                text: "¡Una vez eliminado, no podrá recuperarlo!",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            })
            .then((willDelete) => {
                if (willDelete) {
                    swal("¡Eliminado con éxito!", "Canción eliminada", "success")
                        .then((value) => {
                            fetch(`http://localhost:3000/songs/${id}`, {
                                    method: 'DELETE'
                                }).then(res => res.json())
                                .catch(error => console.error('Error:', error))
                                .then(response => console.log('Success:', response));

                            init();
                        });
                } else {
                    swal("¡Canción a salvo!");
                }
            });
    }

    function report() {
        var pdf = new jsPDF();
        pdf.text(20, 20, "Reporte - Canciones activas");

        // var columns = ["Id", "Nombre", "Email", "Pais"];
        // var data0 = [
        //     [1, "Hola", "hola@gmail.com", "Mexico"],
        //     [2, "Hello", "hello@gmail.com", "Estados Unidos"],
        //     [3, "Otro", "otro@gmail.com", "Otro"]
        // ];

        var columns = ["No.", "Nombre", "Artista", "Álbum", "Fecha"];
        var data = [];

        var date = new Date();

        fetch('http://localhost:3000/songs')
            .then(response => response.json())
            .catch(error => {
                console.log(error)
            })
            .then(res => {
                //Recorriendo nuestro res e incrementando el innerHTML de nuestro elemento
                //Identificado como contenido
                console.log(res)
                var cont = 1;
                for (var i in res) {
                    for (var j in res[i]) {
                        if (res[i][j].state == 1) {
                            var objeto = [
                                // Le agregas la fecha
                                cont,
                                res[i][j].name,
                                res[i][j].artist,
                                res[i][j].album,
                                res[i][j].date
                            ]

                            data.push(objeto);
                            cont++;
                        }
                    }
                }
                //console.log(data0)
                console.log(data)
                pdf.autoTable(columns, data, {
                    margin: {
                        top: 25
                    }
                });

                pdf.save('Reporte_Canciones_' + date + '.pdf');
                swal("¡Reporte creado con éxito!", "¡Busquelo en descargas!", "success");
            })
    }

    function profile() {
        location.href = "./profileAdminView.html"
    }

    function goPrincipalView() {
        location.href = "./songsView.html"
    }

    function goRequestsView() {
        location.href = "./request_songsView.html"
    }

    function goUsersView() {
        location.href = "./usersView.html"
    }

    init();
</script>

</html>