<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <title>Usuarios - Administrador</title>

    <script src="https://code.jquery.com/jquery-3.1.1.min.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>

    <!-- Icono -->
    <link rel="icon" type="image/x-icon" href="https://3.bp.blogspot.com/-2kXGuGA1ON0/Wv3plRrEPjI/AAAAAAAAAOE/5dJCBrXXLR01bFtoTyBZ1btCcMLBX33rQCLcBGAs/s320/Logo%2BWOS%2Bcol%2B%25281%2529.png">

    <link rel="stylesheet" href="../../css/style.css">
    <link rel="stylesheet" href="../../css/home.css">

    <script type="text/javascript" src="../../scripts/script.js"></script>
    <!-- Alertas -->
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <!-- Reportes -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.4/jspdf.min.js"></script>
    <script src="https://unpkg.com/jspdf-autotable@3.5.13/dist/jspdf.plugin.autotable.js"></script>
    <!-- Controlador -->
    <!-- <script type="text/javascript" src="../../scripts/administration/songsController.js"></script> -->

</head>

<body>

    <!-- Following Menu -->
    <div class="ui large top fixed hidden menu">
        <div class="ui container">
            <a class="active item">Home</a>
            <a class="item">Work</a>
            <a class="item">Company</a>
            <a class="item">Careers</a>
            <div class="right menu">
                <div class="item">
                    <a class="ui button">Log in</a>
                </div>
                <div class="item">
                    <a class="ui primary button">Sign Up</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Sidebar Menu -->
    <div class="ui vertical inverted sidebar menu">
        <a class="active item">Home</a>
        <a class="item">Work</a>
        <a class="item">Company</a>
        <a class="item">Careers</a>
        <a class="item">Login</a>
        <a class="item">Signup</a>
    </div>


    <!-- Page Contents -->
    <div class="pusher">
        <!-- <div class="ui inverted vertical masthead center aligned segment"> -->
        <div class="ui inverted vertical center aligned segment">

            <div class="ui container">
                <div class="ui large secondary inverted pointing menu">
                    <a class="toc item">
                        <i class="sidebar icon"></i>
                    </a>
                    <a class="item" onclick="goPrincipalView()">Principal</a>
                    <a class="item" onclick="goRequestsView()">Solicitudes</a>
                    <a class="active item" onclick="goUsersView()">Usuarios</a>
                    <label class="right item"></label>
                    <label class="right item"></label>
                    <label class="right item"></label>
                    <label class="right item"></label>
                    <div id="username_label">
                        <!-- <label class="right item">Nombre del usuario</label> -->
                    </div>
                    <div class="right item">
                        <!-- <a class="ui inverted button">Log in</a> -->
                        <a class="ui inverted button" onclick="logout()">Cerrar sesión</a>
                    </div>
                </div>
            </div>

            <div class="ui text container">
                <h1 class="ui inverted header">
                    Estatus de usuarios
                </h1>
                <!-- <h2>Do whatever you want when you want to.</h2> -->
            </div>

        </div>

        <div class="ui vertical stripe">
            <div class="ui middle aligned stackable grid container">
                <div class="row">
                    <div class="one wide column"></div>
                    <div class="fourteen wide column">
                        <div class="ui grid">
                            <div class="row">
                                <div class="five wide column">
                                    <h3>Usuarios</h3>
                                </div>
                            </div>
                            <div class="row">
                                <div class="five wide column">
                                    <button class="ui brown button" onclick="report()">
                                        <i class="file alternate icon"></i>
                                        Reporte PDF
                                    </button>
                                </div>
                                <div class="eleven wide column">
                                    <div class="position_right">
                                        <button class="ui green button" onclick="newUserAdmin()">
                                            <i class="user plus icon"></i>
                                            Nuevo usuario administrador
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <table class="ui fixed black celled table">
                            <!-- <table class="ui teal table"> -->
                            <thead>
                                <tr>
                                    <th class="centered">Nombre de usuario</th>
                                    <th class="centered">Nombre</th>
                                    <th class="centered">Apellido</th>
                                    <th class="centered">Tipo de usuario</th>
                                    <th class="centered">Opciones</th>
                                </tr>
                            </thead>
                            <tbody id="CuerpoTabla">
                            </tbody>
                        </table>
                    </div>
                    <div class="one wide column"></div>
                </div>

            </div>
        </div>

        <div class="ui inverted vertical footer segment">
            <div class="ui container">
                <div class="ui stackable inverted divided equal height stackable grid">
                    <div class="three wide column">
                        <h4 class="ui inverted header">USAC</h4>
                    </div>
                    <div class="three wide column">
                        <h4 class="ui inverted header">IPC 1 "D"</h4>
                    </div>
                    <div class="seven wide column">
                        <h4 class="ui inverted header">Proyecto 2</h4>
                        <p>Angel Geovanny Ordon Colchaj - 201905741</p>
                    </div>
                </div>
            </div>
        </div>

    </div>

</body>

<script>
    function init() {
        var contenido = document.querySelector('#CuerpoTabla')
        contenido.innerHTML = ""
        fetch('https://midnigthbackend201905741.herokuapp.com/users')
            .then(response => response.json())
            .catch(error => {
                console.log(error)
            })
            .then(res => {
                //Recorriendo nuestro res e incrementando el innerHTML de nuestro elemento
                //Identificado como contenido
                console.log(res)
                for (var i in res) {
                    for (var j in res[i]) {
                        // console.log(res[i][j])
                        // console.log(res[i])
                        contenido.innerHTML +=
                            `<tr>
                        <th class="centered">${res[i][j].username}</th>
                        <th class="centered">${res[i][j].name}</th>
                        <th class="centered">${res[i][j].lastname}</th>
                        <th class="centered">${res[i][j].user_type}</th>
                        <th class="centered">
                            <div class="ui small icon buttons">
                                <button class="ui teal button" data-inverted="" data-tooltip="Editar" data-position="right center" onclick="edit_user(${res[i][j].id})"><i class="edit icon"></i></button>
                                <button class="ui red button" data-inverted="" data-tooltip="Eliminar" data-position="left center" onclick="delet_user(${res[i][j].id})"><i class="trash alternate icon"></i></button>
                            </div>
                        </th>
                        </tr>`
                    }
                }
            })

        // Para el nombre de usuario
        var session_username = sessionStorage.session_username
            //console.log(session_username)
        var contenidoUsername = document.querySelector('#username_label')
        contenidoUsername.innerHTML = ""

        contenidoUsername.innerHTML =
            `
                <a class="right item" onclick="profile()">${session_username}</a>
            `
    }

    function newUserAdmin(id) {
        console.log("nuevo usuario: " + id);

        var id_user = id
        sessionStorage.setItem("id_user_new", id_user)
        location.href = "./userNewView.html"
    }

    function edit_user(id) {
        console.log("edita: " + id);

        var id_user = id
        sessionStorage.setItem("id_user_edit", id_user)
        location.href = "./userEditView.html"
    }

    function delet_user(id) {
        console.log("eliminar: " + id);
        swal({
                title: "¿Estás seguro?",
                text: "¡Una vez eliminado, no podrá recuperarlo!",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            })
            .then((willDelete) => {
                if (willDelete) {
                    swal("¡Eliminado con éxito!", "Usuario eliminado", "success")
                        .then((value) => {
                            fetch(`https://midnigthbackend201905741.herokuapp.com/users/${id}`, {
                                    method: 'DELETE'
                                }).then(res => res.json())
                                .catch(error => console.error('Error:', error))
                                .then(response => console.log('Success:', response));

                            init();
                        });
                } else {
                    swal("¡Usuario a salvo!");
                }
            });
    }

    function report() {
        var date = new Date();

        var pdf = new jsPDF();
        pdf.text(20, 20, "Reporte - Usuarios                                                               " + date.toLocaleDateString());

        // var columns = ["Id", "Nombre", "Email", "Pais"];
        // var data0 = [
        //     [1, "Hola", "hola@gmail.com", "Mexico"],
        //     [2, "Hello", "hello@gmail.com", "Estados Unidos"],
        //     [3, "Otro", "otro@gmail.com", "Otro"]
        // ];

        var columns = ["No.", "Nombre de usuario", "Nombre", "Apellido", "Tipo de usuario"];
        var data = [];

        fetch('https://midnigthbackend201905741.herokuapp.com/users')
            .then(response => response.json())
            .catch(error => {
                console.log(error)
            })
            .then(res => {
                //Recorriendo nuestro res e incrementando el innerHTML de nuestro elemento
                //Identificado como contenido
                console.log(res)
                var cont = 1;
                for (var i in res) {
                    for (var j in res[i]) {
                        var user_type = null;

                        if (res[i][j].user_type == 1) {
                            user_type = 'Administrador';
                        } else if (res[i][j].user_type == 2) {
                            user_type = 'Usuario';
                        }

                        var objeto = [
                            // Le agregas la fecha
                            cont,
                            res[i][j].username,
                            res[i][j].name,
                            res[i][j].lastname,
                            user_type
                        ]

                        data.push(objeto);
                        cont++;
                    }
                }
                //console.log(data0)
                console.log(data)
                pdf.autoTable(columns, data, {
                    margin: {
                        top: 25
                    }
                });

                pdf.save('Reporte_Usuarios_' + date + '.pdf');
                swal("¡Reporte creado con éxito!", "¡Busquelo en descargas!", "success");
            })
    }

    function profile() {
        location.href = "./profileAdminView.html"
    }

    function goPrincipalView() {
        location.href = "./songsView.html"
    }

    function goRequestsView() {
        location.href = "./request_songsView.html"
    }

    function goUsersView() {
        location.href = "./usersView.html"
    }

    function logout() {
        var session_id = ""
        var session_username = ""

        sessionStorage.setItem("session_id", session_id)
        sessionStorage.setItem("session_username", session_username)

        swal("¡Sección cerrada!", "Gracias por utilizar Midnight", "success")
            .then((value) => {
                // location.href = "../homeView.html"
                location.href = "https://midnight201905741.herokuapp.com"
            });

    }

    init();
</script>

</html>
