<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <title>MIDNIGHT</title>

    <script src="https://code.jquery.com/jquery-3.1.1.min.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>

    <!-- Icono -->
    <link rel="icon" type="image/x-icon" href="https://3.bp.blogspot.com/-2kXGuGA1ON0/Wv3plRrEPjI/AAAAAAAAAOE/5dJCBrXXLR01bFtoTyBZ1btCcMLBX33rQCLcBGAs/s320/Logo%2BWOS%2Bcol%2B%25281%2529.png">

    <link rel="stylesheet" href="../css/home.css">
    <link rel="stylesheet" href="../css/style.css">

    <script type="text/javascript" src="../scripts/script.js"></script>

</head>

<body>
    <!-- Page Contents -->
    <div class="pusher">
        <div class="ui inverted vertical masthead center aligned segment" id="fondo_midnight">
            <!-- <div class="ui inverted vertical center aligned segment"> -->

            <div class="ui container">
                <div class="ui large secondary inverted pointing menu">
                    <a class="header item">
                        <img class="logo" src="https://3.bp.blogspot.com/-2kXGuGA1ON0/Wv3plRrEPjI/AAAAAAAAAOE/5dJCBrXXLR01bFtoTyBZ1btCcMLBX33rQCLcBGAs/s320/Logo%2BWOS%2Bcol%2B%25281%2529.png"> Midnight
                    </a>
                    <div class="right item">
                        <!-- <a class="ui inverted button">Log in</a> -->
                        <a class="ui inverted button" onclick="login()">Login</a>
                    </div>
                </div>
            </div>

            <div class="ui text container">
                <h1 class="ui inverted header">
                    MIDNIGHT
                </h1>
                <h2>Midnight</h2>
            </div>

        </div>

        <div class="ui vertical stripe">
            <div class="ui middle aligned stackable grid container">
                <div class="row">
                    <div class="sixteen wide column">
                        <!-- <h3>Datos de la canción:</h3> -->
                        <div class="ui grid container">

                            <div class="row">
                                <div class="eight wide column">
                                    <h3 class="ui header">Midnight</h3>
                                    <p>
                                        El nombre <b>midnight</b> nos da a entender que de día como de noche oímos algo, ya sea algo ruidoso o algo melódico entonces siempre estamos conectados a cualquier sonido que nos transmita algún significado desde
                                        información hasta emociones.
                                    </p>
                                </div>
                                <div class="eight wide column">
                                    <div class="ui grid container">
                                        <div class="row">
                                            <div class="eight wide column">
                                                <h3 class="ui header">Sol y luna</h3>
                                                <p>
                                                    El logo representa el día por medio del sol y la noche por medio de la luna, dando a entender que cualquier momento del día es un buen momento para escuchar música.
                                                </p>
                                            </div>
                                            <div class="eight wide column">
                                                <div class="image centered">
                                                    <img class="img_logo" src="https://3.bp.blogspot.com/-2kXGuGA1ON0/Wv3plRrEPjI/AAAAAAAAAOE/5dJCBrXXLR01bFtoTyBZ1btCcMLBX33rQCLcBGAs/s320/Logo%2BWOS%2Bcol%2B%25281%2529.png">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="ui horizontal divider">
                                ¡Canción más reciente! 🔥🔥🔥
                            </div>

                            <div class="row" id="Cuerpo">
                                <!-- Codigo obtenido al consumir api -->
                            </div>

                            <div class="row" id="Cuerpo_2">
                                <!-- Codigo obtenido al consumir api -->
                            </div>

                            <div class="ui horizontal divider">
                                Información
                            </div>

                            <div class="row">
                                <div class="eight wide column">
                                    <h3 class="ui header">Acerca de</h3>
                                    <p>
                                        Midnight es una aplicación web que busca compartir el arte de la música a todas las personas.
                                    </p>
                                </div>
                                <div class="eight wide column">
                                    <h3 class="ui header">Contactenos</h3>
                                    <div class="ui large list">
                                        <div class="item">
                                            <div class="header">Programador</div>
                                            Angel Ordón
                                        </div>
                                        <div class="item">
                                            <div class="header">GitHub</div>
                                            <a href="https://github.com/AngelOrdon02">AngelOrdon02</a>
                                        </div>
                                        <div class="item">
                                            <div class="header">Ubicación</div>
                                            Ciudad de Guatemala, Guatemala
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="ui inverted vertical footer segment">
            <div class="ui container">
                <div class="ui stackable inverted divided equal height stackable grid">
                    <div class="three wide column">
                        <h4 class="ui inverted header">About</h4>
                        <div class="ui inverted link list">
                            <a href="#" class="item">Sitemap</a>
                            <a href="#" class="item">Contact Us</a>
                            <a href="#" class="item">Religious Ceremonies</a>
                            <a href="#" class="item">Gazebo Plans</a>
                        </div>
                    </div>
                    <div class="three wide column">
                        <h4 class="ui inverted header">Services</h4>
                        <div class="ui inverted link list">
                            <a href="#" class="item">Banana Pre-Order</a>
                            <a href="#" class="item">DNA FAQ</a>
                            <a href="#" class="item">How To Access</a>
                            <a href="#" class="item">Favorite X-Men</a>
                        </div>
                    </div>
                    <div class="seven wide column">
                        <h4 class="ui inverted header">Footer Header</h4>
                        <p>Extra space for a call to action inside the footer that could help re-engage users.</p>
                    </div>
                </div>
            </div>
        </div>

    </div>

</body>

<script>
    function init() {

        // var id_song = sessionStorage.id_song_show
        // console.log(id_song)

        var contenido = document.querySelector('#Cuerpo')
        contenido.innerHTML = ""

        var contenido_2 = document.querySelector('#Cuerpo_2')
        contenido_2.innerHTML = ""

        fetch(`http://localhost:3000/songs/last`, {
                headers: {
                    'Content-Type': 'application/json'
                }
            })
            .then(response => response.json())
            .catch(error => {
                console.log(error)
            })
            .then(res => {
                console.log(res)
                for (var i in res) {
                    contenido.innerHTML =
                        `
                        <div class="four wide column">
                            <img class="img_show_song" src="${res[i].image}">
                        </div>
                        <div class="four wide column">
                            <div class="ui large list">
                                <div class="item">
                                    <div class="header">Nombre</div>
                                    ${res[i].name}
                                </div>
                                <div class="item">
                                    <div class="header">Artista</div>
                                    ${res[i].artist}
                                </div>
                                <div class="item">
                                    <div class="header">Álbum</div>
                                    ${res[i].album}
                                </div>
                                <div class="item">
                                    <div class="header">Fecha</div>
                                    ${res[i].date}
                                </div>
                            </div>
                        </div>
                        <div class="eight wide column">
                            <iframe src="${res[i].link_youtube}" width="450" height="250" style="border:none;" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                        </div>
                    `

                    contenido_2.innerHTML =
                        `
                        <div class="four wide column"></div>
                        <div class="eight wide column">
                            <iframe src="${res[i].link_spotify}" width="100%" height="300" style="border:none;" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
                        </div>
                        <div class="four wide column"></div>
                    `
                }

            })

    }

    init();
</script>

</html>