<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Recuperar contraseña</title>

    <script src="https://code.jquery.com/jquery-3.1.1.min.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>

    <!-- Icono -->
    <link rel="icon" type="image/x-icon" href="https://3.bp.blogspot.com/-2kXGuGA1ON0/Wv3plRrEPjI/AAAAAAAAAOE/5dJCBrXXLR01bFtoTyBZ1btCcMLBX33rQCLcBGAs/s320/Logo%2BWOS%2Bcol%2B%25281%2529.png">

    <link rel="stylesheet" href="../../css/login.css">
    <!-- Alertas -->
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
</head>

<body>

    <div class="ui middle aligned center aligned grid">
        <div class="column">
            <h2 class="ui teal image header">
                <img src="https://3.bp.blogspot.com/-2kXGuGA1ON0/Wv3plRrEPjI/AAAAAAAAAOE/5dJCBrXXLR01bFtoTyBZ1btCcMLBX33rQCLcBGAs/s320/Logo%2BWOS%2Bcol%2B%25281%2529.png" class="image" onclick="principal()">
                <div class="content">
                    Recuperar contraseña
                </div>
            </h2>
            <form class="ui large form">
                <div class="ui stacked segment">
                    <div class="field">
                        <div class="ui left icon input">
                            <i class="user icon"></i>
                            <input type="text" id="username" name="username" placeholder="Nombre de usuario">
                        </div>
                    </div>
                    <div class="ui fluid large teal button" onclick="recover()">Recuperar</div>
                </div>

                <div class="ui error message"></div>

            </form>
        </div>
    </div>

</body>

<script>
    function recover() {

        var username = document.querySelector('#username').value

        if (username == "") {
            console.log("username vacio: " + username);
        } else if (username != "") {
            console.log("username con datos: " + username);

            fetch(`http://localhost:3000/user_exists/${username}`, {
                    headers: {
                        'Content-Type': 'application/json'
                    }
                })
                .then(response => response.json())
                .catch(error => {
                    console.log(error)
                })
                .then(res => {
                    console.log(res)
                    for (var i in res) {

                        state = res[i]
                        console.log("Nombre de usuario: " + username)
                        console.log("Estado: " + state)

                        if (state == 0) {
                            swal("¡Ocurrio un error!", "¡El nombre de usuario no existe, utilice otro por favor!", "error");
                        } else if (state == 1) {

                            fetch(`http://localhost:3000/users_recover/${username}`, {
                                    headers: {
                                        'Content-Type': 'application/json'
                                    }
                                })
                                .then(response => response.json())
                                .catch(error => {
                                    console.log(error)
                                })
                                .then(res => {
                                    console.log(res)
                                    console.log(res.user_password)
                                    password = res.user_password

                                    // Alerta
                                    swal("¡Usuario encontrado!  -  " + username, "La contraseña es: " + password, "success")
                                        .then((value) => {
                                            location.href = "./loginView.html"
                                        });
                                })

                        }
                    }
                })

        }

    }

    function principal() {
        location.href = "../homeView.html"
    }
</script>

</html>