<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Registro</title>

    <script src="https://code.jquery.com/jquery-3.1.1.min.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>

    <!-- Icono -->
    <link rel="icon" type="image/x-icon" href="https://3.bp.blogspot.com/-2kXGuGA1ON0/Wv3plRrEPjI/AAAAAAAAAOE/5dJCBrXXLR01bFtoTyBZ1btCcMLBX33rQCLcBGAs/s320/Logo%2BWOS%2Bcol%2B%25281%2529.png">

    <link rel="stylesheet" href="../../css/login.css">
    <!-- Alertas -->
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
</head>

<body>

    <div class="ui middle aligned center aligned grid">
        <div class="column">
            <h2 class="ui teal image header">
                <img src="https://3.bp.blogspot.com/-2kXGuGA1ON0/Wv3plRrEPjI/AAAAAAAAAOE/5dJCBrXXLR01bFtoTyBZ1btCcMLBX33rQCLcBGAs/s320/Logo%2BWOS%2Bcol%2B%25281%2529.png" class="image" onclick="principal()">
                <div class="content">
                    Registro de usuario
                </div>
            </h2>
            <form class="ui large form">
                <div class="ui stacked segment">
                    <div class="field">
                        <div class="ui left icon input">
                            <i class="user icon"></i>
                            <input type="text" id="name" name="name" placeholder="Nombre">
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui left icon input">
                            <i class="user icon"></i>
                            <input type="text" id="lastname" name="lastname" placeholder="Apellido">
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui left icon input">
                            <i class="user icon"></i>
                            <input type="text" id="username" name="username" placeholder="Nombre de usuario">
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui left icon input">
                            <i class="lock icon"></i>
                            <input type="password" id="password" name="password" placeholder="Contraseña">
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui left icon input">
                            <i class="lock icon"></i>
                            <input type="password" id="confirm_password" name="password_confirm" placeholder="Confirmar contraseña">
                        </div>
                    </div>
                    <div class="ui fluid large teal button" onclick="register()">Registrar</div>
                </div>

                <div class="ui error message"></div>

            </form>
        </div>
    </div>

</body>

<script>
    function register() {
        // var id_song = sessionStorage.id_song_edit;
        // console.log(id_song);

        var name = document.querySelector('#name').value
        var lastname = document.querySelector('#lastname').value
        var username = document.querySelector('#username').value
        var password = document.querySelector('#password').value
        var confirm_password = document.querySelector('#confirm_password').value

        //var id_user = document.querySelector('#id_user').value
        //var user_type = document.querySelector('#user_type').value
        // user_type = 1 => Usuario administrador
        var user_type = 2;

        fetch(`https://midnigthbackend201905741.herokuapp.com/user_exists/${username}`, {
                headers: {
                    'Content-Type': 'application/json'
                }
            })
            .then(response => response.json())
            .catch(error => {
                console.log(error)
            })
            .then(res => {
                console.log(res)
                for (var i in res) {

                    state = res[i]
                    console.log("Nombre de usuario: " + username)
                    console.log("Estado: " + state)

                    if (state == 1) {
                        swal("¡Ocurrio un error!", "¡El nombre de usuario ya esta tomado, utilice otro por favor!", "error");
                    } else if (state == 0) {

                        if (password != confirm_password) {
                            swal("¡Ocurrio un error!", "¡La contraseña de confirmación no coincide!", "error");
                        } else if (password == confirm_password) {

                            var data = {
                                'name': name,
                                'lastname': lastname,
                                'username': username,
                                'password': password,
                                'user_type': user_type
                            }

                            console.log(data);
                            fetch('https://midnigthbackend201905741.herokuapp.com/users', {
                                    method: 'POST',
                                    body: JSON.stringify(data),
                                    headers: {
                                        'Content-Type': 'application/json'
                                    }

                                }).then(res => res.json())
                                .catch(error => {
                                    console.error('Error:', error)
                                        //alert("Ocurrio un error al consumir la API, revise la consola")
                                    swal("¡Ocurrio un error!", "¡No se pudo crear el usuario!", "error");
                                })
                                .then(response => {
                                    console.log('Success:', response);
                                    //alert(response.message)
                                    //swal("¡Editado con éxito!", "¡Canción editada!", "success");
                                    swal("¡Creado con éxito!", "Usuario creado: " + username, "success")
                                        .then((value) => {
                                            location.href = "./loginView.html"
                                        });
                                    //location.href = "./songsView.html"
                                })

                        }

                    }
                }
            })
    }

    function principal() {
        //location.href = "../homeView.html"
        location.href = "https://midnight201905741.herokuapp.com"
    }
</script>

</html>
